body{
  font-family: 'Open Sans', sans-serif;
}
#mainContainer{
  padding-top: 0;
}
.btn{
  border-radius: 0;
padding: 6px 12px;
transition: all .2s ease-in-out;'
}
.btn-red, .btn-red:visited{
  color: #ffffff;
background-color: #8f1d21;
background: #8f1d21;
background-image: none;
border:none;
}
.btn-black,
.btn-black:visited { color:#ffffff; background-color:#121212 !important; background: :#121212;background-image: none;border:1px #000000 solid !important; border-top-right-radius: 0;border-bottom-right-radius: 0;}
.btn-black:focus,
.btn-black.focus { color:#ffffff; background-color:#000000 !important; }
.btn-black:hover { color:#ffffff; background-color:#000000; }
input[type="text"], input[type="email"]{
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  position: relative;
  z-index: 2;
  float: left;
  margin-bottom: 0;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
.navbar .nav > li > a{
  text-shadow: none;
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 15px;
}
header .navtop{
  margin-top: 0px;
}
footer{
  font-weight: 400;
}
/*input[type="text"].form-control{
  display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}*/
